body.single {
  .main {
    .section-single {
      position: relative;
      padding: 48px 0;

      .layout {
        width: 1024px;
        margin: 0 auto;
        max-width: 100%;

        .btn-back {
          position: relative;
          color: $cor-1;
          font-weight: bold;
          margin: 24px 0;
        }

        .section-big-title {
          width: 1024px;
          margin: 0 auto;
          max-width: 100%;
        }

        .date {
          font-size: 13px;
          font-weight: 400;
          line-height: 1;
          margin: 24px 0;
          color: #0036c2;
        }
      }
    }
  }
}
